<!DOCTYPE html>
<html	lagn="ko" 
	 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<title>Board 게시판</title>
</head>

<body>

<div layout:fragment="content">
<a class="btn btn-default pull-right" th:href="@{/write(id=${session.loginid})}" role="button">글쓰기</a>

<table class="table table-striped">	
	<thead>
		<tr>
			<th class="col-md-4">제목</th>
			<th class="col-md-2">작성일</th>
			<th class="col-md-2">작성자</th>
		</tr>
	</thead>
	<tbody class="table table-hover">
		<tr th:each="board,i :${BoardList}" th:onclick="'window.location.href=\'' + @{/readpost(boardKey=${board.pk})} +'\''" style="cursor:pointer;">
			<!-- <td th:text=${board.title}><a href = "#" th:href="@{/readpost(boardKey=${board.pk})}">title</a></td>  -->
			<td th:text=${board.title}>title</td>
			<td th:text=${board.createDate}>createDate</td>
			<td th:text=${board.createUser}>createUser</td>		
		</tr>
	</tbody>
</table>

<th:block th:if="${pageCount != 0}">
<span  class="form-inline">
	<a  class="btn btn-default" 
		th:each="num : ${#numbers.sequence(1,pageCount)}"
		th:href="@{board(pageNo=${num})}" 
		role="button" 
		th:text="${num}">1</a>
</span>
</th:block>

<form class="form-inline">
	<div class="form-group">
		<p class="form-control-static">제목 검색</p>
	</div>
	<div class="form-group">
		<label for="inputPassword2" class="sr-only">Password</label>
		<input type="text" class="form-control" placeholder="제목 검색">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>
	
</div>

</body>
</html>