<!DOCTYPE html>
<html	lagn="ko" 
	 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<title>hello</title>
</head>
<body>

<div layout:fragment="content">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
	</ol>
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>		
		<li class="active"><a href="/board?id=${session.loginid}">Board</a></li>
	</ol>
</div>

</body>
</html>