<!DOCTYPE html>
<html	lagn="ko" 
	 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<title>게시글 보기</title>
</head>
<body>

<div layout:fragment="content">

<script type="text/javascript">

$(document).ready(function(){
	
	$("#inputReply").keydown(function(key) {
		if (key.keyCode == 13) {
			sendReply(0);	
		}
	});
});

function sendReply(depth){	

	var reply = $.trim($("#inputReply").val());
	var pk = $("#postpk").val();

	if(pk==''){ alert('비정상적인 접근입니다.'); return false;}
	if(reply==''){ alert('내용을 입력해주세요.'); return false;}
		
	$.trim(depth);
	if(depth=='') depth='0'

	$.ajax({
		url:'/addreply?reply='+reply+'&depth='+depth+'&boardkey='+pk,
		type: 'POST',
		success:function(data){
			if(data == null){	alert("댓글입력에 실패했습니다");	return;	}
			addReply(data);			
		},error:function(e){
			alert('에러: 통신에 문제가 생겼습니다.');
		}
		
	});//ajax end
};//function end

function addReply(comment){
	console.log(comment);
	$("#replyArea").append(
		"<tr><td>"+comment.reply+"</td><td>"+comment.createDate+"</td><td>"+comment.id+"</td>tr/>"	
	);
}

</script>


<div class="page-header">
  <h1 th:text=${post.title}>title</h1>
  <small th:text=${post.createUser}>user</small>
  <small th:text=${post.createDate}>date</small>
  <input type="hidden" th:value=${post.pk} id="postpk"/>
</div>

<div class="jumbotron">  
  <p th:text="${post.contents}"></p>
</div>

<a th:if="${IsWriter != null}" th:href=@{/write(boardkey=${IsWriter})} class="btn pull-right">수정</a>

<table class="table table-striped">	
	<thead>
		<tr>
			<th class="col-md-4">댓글</th>
			<th class="col-md-2">작성일</th>
			<th class="col-md-2">작성자</th>
		</tr>
	</thead>
	<tbody class="table table-hover" id="replyArea">
		<tr th:each="comment : ${comments}">
			<td th:text=${comment.reply}>reply</td>
			<td th:text=${comment.createDate}>createDate</td>
			<td th:text=${comment.id}>createUser</td>
		</tr>
	</tbody>
</table>

<div class="form-group">	    
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputReply" placeholder="댓글을 입력해주세요">
    </div>
    <button type="button" id="addReply" class="btn btn-primary" onsubmit="false" onclick="sendReply(0)">입력</button>
    <!--  onclick="sendReply(0)" -->
</div>

</div>

</body>
</html>